body {
	padding-top : 10vh;
	padding-bottom : 10vh;
    font-family: 'Nunito', sans-serif;
}

.login .card {
	width: 500px;
	padding-top: 10vh;
	padding-bottom: 10vh;
}
.register .card{
	width: 500px;
	padding-top: 5vh;
	padding-bottom: 5vh;
}

.formInput{
	margin-bottom: 15px;
	padding: 5px 10px 5px 10px ;
	width: 100%;
}
.button_submit{
	margin-bottom: 15px;
	width: 100px;
	border-radius: 4px;
	padding: 5px 10px 5px 10px ;
}
.formInputDesc{
margin-bottom: 15px;
padding: 5px 10px 5px 10px ;
width: 100%;	
}

/*#remember_me{
	margin-right: 40px;
}
#remember_me_text{
	margin-right: 70px;
}
.buttonCancel{
	margin-bottom: 15px;
	margin-right: 30px;
}
#forget_text{
	margin-right: 150px;
}
#register{
	margin-right: 300px;
}
*/
